###  Individual country data (goods) on a monthly basis to Tidy Data

In [1]:
from databaker.framework import *
import pandas as pd

In [2]:
import requests
from cachecontrol import CacheControl
from cachecontrol.caches.file_cache import FileCache
from cachecontrol.heuristics import LastModified
from pathlib import Path
from io import BytesIO

session = CacheControl(requests.Session(),
                       cache=FileCache('.cache'),
                       heuristic=LastModified())

sourceUrl = 'https://www.ons.gov.uk/file?uri=/economy/nationalaccounts/balanceofpayments/adhocs/007948individualcountrydatagoodsonamonthlybasisfromjanuary1998tonovember2017/11.allcountriesnovember20172.xlsx'

In [3]:
tab = pd.read_excel(BytesIO(session.get(sourceUrl).content), header = None, sheet_name = 1)
tab.iloc[0][0] = 'Dummy'
tab.columns=tab.iloc[0]
tab.rename(columns={'Dummy': 'Period'}, inplace = True)
tab

,Period,AF Afghanistan,AL Albania,DZ Algeria,AS American Samoa,AD Andorra,AO Angola,AI Anguilla,AQ Antarctica,AG Antigua & Barbuda,...,VI US Virgin Islands,UZ Uzbekistan,VU Vanuatu,VA Vatican City,VE Venezuela,VN Vietnam,WF Wallis & Futuna,YE Yemen,ZM Zambia,ZW Zimbabwe
0,Dummy,AF Afghanistan,AL Albania,DZ Algeria,AS American Samoa,AD Andorra,AO Angola,AI Anguilla,AQ Antarctica,AG Antigua & Barbuda,...,VI US Virgin Islands,UZ Uzbekistan,VU Vanuatu,VA Vatican City,VE Venezuela,VN Vietnam,WF Wallis & Futuna,YE Yemen,ZM Zambia,ZW Zimbabwe
1,1998JAN,1,1,8,-,-,3,1,-,4,...,-,2,-,-,31,7,-,6,3,6
2,1998FEB,-,1,9,-,1,3,-,-,3,...,-,3,-,-,19,6,-,5,2,5
3,1998MAR,2,1,10,-,2,5,1,-,2,...,4,3,-,-,25,6,-,7,4,6
4,1998APR,1,-,8,-,1,5,1,-,2,...,-,6,-,-,23,6,-,4,5,6
5,1998MAY,1,-,9,-,3,2,-,-,2,...,-,6,-,-,24,6,-,5,2,6
6,1998JUN,1,1,9,-,1,4,1,-,1,...,6,4,-,-,25,7,-,7,3,7
7,1998JUL,1,1,10,-,1,4,-,-,4,...,-,5,-,-,19,6,-,5,3,7
8,1998AUG,1,1,7,-,1,2,-,-,1,...,4,1,-,-,13,6,-,5,2,5
9,1998SEP,1,-,11,-,1,4,1,-,2,...,1,1,-,-,18,3,-,7,2,7
10,1998OCT,1,1,7,-,-,3,1,-,2,...,1,1,-,-,11,4,-,7,3,6
11,1998NOV,1,1,7,-,1,2,-,-,2,...,-,1,-,-,10,4,-,10,3,5
12,1998DEC,1,1,15,-,2,4,-,-,1,...,-,1,-,-,14,4,-,8,2,4
13,1999JAN,-,1,9,-,-,19,-,-,2,...,-,1,-,-,13,6,-,6,2,9
14,1999FEB,-,1,8,-,1,4,1,-,4,...,-,2,-,-,35,5,-,5,2,4
15,1999MAR,-,1,8,-,1,5,-,-,3,...,1,2,-,-,18,5,-,6,3,6
16,1999APR,-,2,9,-,2,3,-,-,2,...,-,3,-,-,10,12,-,5,3,5
17,1999MAY,-,2,8,-,1,5,-,-,2,...,-,2,-,-,13,4,-,4,1,6
18,1999JUN,-,1,11,-,1,5,-,-,2,...,1,5,-,-,10,5,-,6,1,5
19,1999JUL,-,3,8,-,1,5,-,-,2,...,-,2,-,-,14,6,-,5,2,4
20,1999AUG,-,-,14,-,1,9,-,-,3,...,-,3,-,-,33,2,-,4,2,9
21,1999SEP,-,-,11,-,1,4,-,-,2,...,-,5,-,-,13,9,-,8,2,7
22,1999OCT,-,1,10,-,1,2,-,-,2,...,1,4,-,-,12,5,-,7,2,8
23,1999NOV,-,1,7,-,1,2,-,-,2,...,2,1,-,-,16,7,-,4,8,6
24,1999DEC,-,-,7,-,1,4,-,-,5,...,-,1,-,-,11,11,-,5,2,6
25,2000JAN,1,-,6,-,-,3,-,1,2,...,-,1,-,-,12,6,-,4,2,6
26,2000FEB,-,1,13,-,1,4,-,-,2,...,-,1,-,-,17,7,-,5,2,3
27,2000MAR,-,1,7,-,1,7,-,-,2,...,-,1,-,-,20,7,-,4,1,5
28,2000APR,1,-,7,-,1,3,-,-,1,...,-,2,-,-,12,8,-,3,1,4
29,2000MAY,-,1,7,-,1,3,-,-,1,...,-,3,-,-,12,5,-,4,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,2015JUN,1,1,27,-,1,35.9701,-,-,1,...,-,3,-,-,9,32,-,1,5,4
211,2015JUL,1,1,33,-,1,33.9147,-,-,1,...,-,3,-,-,8,48,-,1,4,3
212,2015AUG,1,1,24,-,1,17.4712,-,-,2,...,-,1,-,-,6,35,-,-,6,2
213,2015SEP,2,4,24,-,1,46.2473,-,-,1,...,-,1,-,-,26,32,-,5,5,3
214,2015OCT,1,1,22,-,-,43.1642,-,-,1,...,-,1,-,-,18,30,-,2,4,3
215,2015NOV,1,1,32,-,1,39.0533,-,-,1,...,-,2,-,-,19,26,-,1,4,8
216,2015DEC,3,2,46,-,1,45.2196,-,-,9,...,-,1,-,-,16,30,-,1,3,3
217,2016JAN,2,1,41,-,1,27,1,-,1,...,-,1,-,-,8,42,-,5,3,2
218,2016FEB,1,1,28,-,1,19,-,-,1,...,-,1,-,-,17,51,-,2,3,2
219,2016MAR,1,1,43,-,1,26,-,-,1,...,-,3,-,-,5,38,-,2,3,3
220,2016APR,1,1,64,-,1,35,-,-,1,...,-,3,-,-,9,28,-,8,4,5
221,2016MAY,2,1,48,-,1,62,-,-,1,...,-,3,-,-,19,38,-,2,4,4
222,2016JUN,2,1,35,-,1,26,-,-,1,...,-,3,-,-,8,42,-,4,3,4
223,2016JUL,1,1,27,-,1,19,-,-,1,...,-,3,-,-,7,39,-,3,4,2
224,2016AUG,1,1,28,-,1,23,1,-,1,...,-,4,-,-,3,40,-,2,5,2
225,2016SEP,2,6,26,1,1,22,-,-,1,...,-,6,-,-,8,46,-,1,6,5
226,2016OCT,1,2,50,-,1,44,-,-,3,...,-,4,-,-,9,62,-,4,4,2
227,2016NOV,2,2,32,-,1,46,-,-,2,...,-,2,-,-,6,41,-,2,4,3
228,2016DEC,2,1,31,-,1,39,-,-,2,...,-,2,-,-,10,42,-,2,5,2
229,2017JAN,1,1,19,-,1,15,-,-,1,...,3,1,-,-,15,43,-,3,4,1
230,2017FEB,1,2,21,-,1,167,-,-,1,...,-,2,-,-,4,51,-,2,4,2
231,2017MAR,2,1,30,-,1,31,-,-,1,...,-,2,-,-,24,39,-,9,6,2
232,2017APR,1,1,40,-,1,23,-,-,1,...,-,2,-,-,4,53,-,4,4,4
233,2017MAY,2,1,35,-,1,11,-,-,1,...,-,4,-,-,6,65,-,2,5,3
234,2017JUN,3,1,37,-,1,36,-,-,1,...,-,3,-,-,6,47,-,2,7,4
235,2017JUL,1,1,20,-,1,14,-,-,1,...,-,6,-,-,3,45,-,1,5,3
236,2017AUG,3,1,40,-,1,20,-,-,1,...,-,4,-,-,5,57,-,5,6,4
237,2017SEP,1,2,28,-,1,32,-,-,1,...,-,1,-,-,4,49,-,2,6,4
238,2017OCT,2,3,39,-,1,36,-,-,1,...,-,-,-,-,6,54,-,5,4,3
239,2017NOV,3,3,28,-,1,24,-,-,3,...,-,3,-,1,6,50,-,2,5,2

In [4]:
observations = tab[1:].rename(columns={'ONS Partner Geography': 'Period'})
observations.head()

,Period,AF Afghanistan,AL Albania,DZ Algeria,AS American Samoa,AD Andorra,AO Angola,AI Anguilla,AQ Antarctica,AG Antigua & Barbuda,...,VI US Virgin Islands,UZ Uzbekistan,VU Vanuatu,VA Vatican City,VE Venezuela,VN Vietnam,WF Wallis & Futuna,YE Yemen,ZM Zambia,ZW Zimbabwe
1,1998JAN,1,1,8,-,-,3,1,-,4,...,-,2,-,-,31,7,-,6,3,6
2,1998FEB,-,1,9,-,1,3,-,-,3,...,-,3,-,-,19,6,-,5,2,5
3,1998MAR,2,1,10,-,2,5,1,-,2,...,4,3,-,-,25,6,-,7,4,6
4,1998APR,1,-,8,-,1,5,1,-,2,...,-,6,-,-,23,6,-,4,5,6
5,1998MAY,1,-,9,-,3,2,-,-,2,...,-,6,-,-,24,6,-,5,2,6

In [5]:
new_table = pd.melt(observations, id_vars= ['Period'], var_name='ONS Partner Geography', value_name='OBS')
new_table.reset_index(drop=True, inplace=True)
print(len(new_table))
new_table.head(50)

55448

     Period ONS Partner Geography OBS
0   1998JAN        AF Afghanistan   1
1   1998FEB        AF Afghanistan   -
2   1998MAR        AF Afghanistan   2
3   1998APR        AF Afghanistan   1
4   1998MAY        AF Afghanistan   1
5   1998JUN        AF Afghanistan   1
6   1998JUL        AF Afghanistan   1
7   1998AUG        AF Afghanistan   1
8   1998SEP        AF Afghanistan   1
9   1998OCT        AF Afghanistan   1
10  1998NOV        AF Afghanistan   1
11  1998DEC        AF Afghanistan   1
12  1999JAN        AF Afghanistan   -
13  1999FEB        AF Afghanistan   -
14  1999MAR        AF Afghanistan   -
15  1999APR        AF Afghanistan   -
16  1999MAY        AF Afghanistan   -
17  1999JUN        AF Afghanistan   -
18  1999JUL        AF Afghanistan   -
19  1999AUG        AF Afghanistan   -
20  1999SEP        AF Afghanistan   -
21  1999OCT        AF Afghanistan   -
22  1999NOV        AF Afghanistan   -
23  1999DEC        AF Afghanistan   -
24  2000JAN        AF Afghanistan   1
25  2000FEB        AF Afghanistan   -
26  2000MAR        AF Afghanistan   -
27  2000APR        AF Afghanistan   1
28  2000MAY        AF Afghanistan   -
29  2000JUN        AF Afghanistan   -
30  2000JUL        AF Afghanistan   -
31  2000AUG        AF Afghanistan   -
32  2000SEP        AF Afghanistan   -
33  2000OCT        AF Afghanistan   -
34  2000NOV        AF Afghanistan   -
35  2000DEC        AF Afghanistan   -
36  2001JAN        AF Afghanistan   -
37  2001FEB        AF Afghanistan   1
38  2001MAR        AF Afghanistan   -
39  2001APR        AF Afghanistan   -
40  2001MAY        AF Afghanistan   -
41  2001JUN        AF Afghanistan   1
42  2001JUL        AF Afghanistan   1
43  2001AUG        AF Afghanistan   -
44  2001SEP        AF Afghanistan   -
45  2001OCT        AF Afghanistan   -
46  2001NOV        AF Afghanistan   -
47  2001DEC        AF Afghanistan   -
48  2002JAN        AF Afghanistan   -
49  2002FEB        AF Afghanistan   -

In [6]:
new_table = new_table[new_table['OBS'] != '-']

In [7]:
new_table.count()

Period                   39613
ONS Partner Geography    39613
OBS                      39613
dtype: int64

In [8]:
new_table['Period'].unique()

array(['1998JAN', '1998MAR', '1998APR', '1998MAY', '1998JUN', '1998JUL',
       '1998AUG', '1998SEP', '1998OCT', '1998NOV', '1998DEC', '2000JAN',
       '2000APR', '2001FEB', '2001JUN', '2001JUL', '2002OCT', '2002NOV',
       '2003MAR', '2003APR', '2003MAY', '2003JUN', '2003JUL', '2003AUG',
       '2003SEP', '2003OCT', '2003NOV', '2003DEC', '2004JAN', '2004FEB',
       '2004MAR', '2004APR', '2004MAY', '2004JUN', '2004JUL', '2004AUG',
       '2004SEP', '2004OCT', '2004NOV', '2004DEC', '2005FEB', '2005MAR',
       '2005APR', '2005MAY', '2005JUN', '2005JUL', '2005AUG', '2005SEP',
       '2005OCT', '2005NOV', '2005DEC', '2006JAN', '2006FEB', '2006MAR',
       '2006APR', '2006MAY', '2006JUN', '2006JUL', '2006AUG', '2006SEP',
       '2006OCT', '2006NOV', '2006DEC', '2007JAN', '2007FEB', '2007MAR',
       '2007APR', '2007MAY', '2007JUN', '2007JUL', '2007AUG', '2007SEP',
       '2007OCT', '2007NOV', '2007DEC', '2008JAN', '2008FEB', '2008MAR',
       '2008APR', '2008MAY', '2008JUN', '2008JUL', '2008AUG', '2008SEP',
       '2008OCT', '2008NOV', '2008DEC', '2009JAN', '2009FEB', '2009MAR',
       '2009APR', '2009MAY', '2009JUN', '2009JUL', '2009AUG', '2009SEP',
       '2009OCT', '2009NOV', '2009DEC', '2010JAN', '2010FEB', '2010MAR',
       '2010APR', '2010MAY', '2010JUN', '2010JUL', '2010AUG', '2010SEP',
       '2010OCT', '2010NOV', '2010DEC', '2011JAN', '2011FEB', '2011MAR',
       '2011APR', '2011MAY', '2011JUN', '2011JUL', '2011AUG', '2011SEP',
       '2011OCT', '2011NOV', '2011DEC', '2012JAN', '2012FEB', '2012MAR',
       '2012APR', '2012MAY', '2012JUN', '2012JUL', '2012AUG', '2012SEP',
       '2012OCT', '2012NOV', '2012DEC', '2013JAN', '2013FEB', '2013MAR',
       '2013APR', '2013MAY', '2013JUN', '2013JUL', '2013AUG', '2013SEP',
       '2013OCT', '2013NOV', '2013DEC', '2014JAN', '2014FEB', '2014MAR',
       '2014APR', '2014MAY', '2014JUN', '2014JUL', '2014AUG', '2014SEP',
       '2014OCT', '2014NOV', '2014DEC', '2015JAN', '2015FEB', '2015MAR',
       '2015APR', '2015MAY', '2015JUN', '2015JUL', '2015AUG', '2015SEP',
       '2015OCT', '2015NOV', '2015DEC', '2016JAN', '2016FEB', '2016MAR',
       '2016APR', '2016MAY', '2016JUN', '2016JUL', '2016AUG', '2016SEP',
       '2016OCT', '2016NOV', '2016DEC', '2017JAN', '2017FEB', '2017MAR',
       '2017APR', '2017MAY', '2017JUN', '2017JUL', '2017AUG', '2017SEP',
       '2017OCT', '2017NOV', '1998FEB', '1999JAN', '1999FEB', '1999MAR',
       '1999APR', '1999MAY', '1999JUN', '1999JUL', '1999OCT', '1999NOV',
       '2000FEB', '2000MAR', '2000MAY', '2000JUN', '2000SEP', '2000NOV',
       '2000DEC', '2001JAN', '2001MAR', '2001APR', '2001MAY', '2001AUG',
       '2001SEP', '2001OCT', '2001NOV', '2001DEC', '2002JAN', '2002FEB',
       '2002MAR', '2002APR', '2002MAY', '2002JUN', '2002JUL', '2002AUG',
       '2002SEP', '2002DEC', '2003JAN', '2003FEB', '2005JAN', '1999AUG',
       '1999SEP', '1999DEC', '2000JUL', '2000AUG', '2000OCT'], dtype=object)

In [9]:
new_table['Period'] = 'month/' + new_table['Period'].astype(str).str[0:4]+ '-' + new_table['Period'].astype(str).str[-3:]
new_table.head()

           Period ONS Partner Geography OBS
0  month/1998-JAN        AF Afghanistan   1
2  month/1998-MAR        AF Afghanistan   2
3  month/1998-APR        AF Afghanistan   1
4  month/1998-MAY        AF Afghanistan   1
5  month/1998-JUN        AF Afghanistan   1

In [10]:
new_table['Unit'] = '£ Million'
new_table['Measure Type'] = 'GBP Total'
new_table['Flow'] = 'Exports'
new_table.tail(5)

,Period,ONS Partner Geography,OBS,Unit,Measure Type,Flow
55443,month/2017-JUL,ZW Zimbabwe,3,£ Million,GBP Total,Exports
55444,month/2017-AUG,ZW Zimbabwe,4,£ Million,GBP Total,Exports
55445,month/2017-SEP,ZW Zimbabwe,4,£ Million,GBP Total,Exports
55446,month/2017-OCT,ZW Zimbabwe,3,£ Million,GBP Total,Exports
55447,month/2017-NOV,ZW Zimbabwe,2,£ Million,GBP Total,Exports

In [11]:
new_table.rename(index= str, columns= {'OBS':'Value'}, inplace = True)

In [12]:
Final_table = pd.DataFrame()

In [13]:
new_table = new_table[['ONS Partner Geography','Period','Flow','Measure Type','Value','Unit']]

In [14]:
new_table.tail(5)

,ONS Partner Geography,Period,Flow,Measure Type,Value,Unit
55443,ZW Zimbabwe,month/2017-JUL,Exports,GBP Total,3,£ Million
55444,ZW Zimbabwe,month/2017-AUG,Exports,GBP Total,4,£ Million
55445,ZW Zimbabwe,month/2017-SEP,Exports,GBP Total,4,£ Million
55446,ZW Zimbabwe,month/2017-OCT,Exports,GBP Total,3,£ Million
55447,ZW Zimbabwe,month/2017-NOV,Exports,GBP Total,2,£ Million

In [15]:
new_table['Value'] = new_table['Value'].astype(int)

In [16]:
new_table.dtypes

ONS Partner Geography    object
Period                   object
Flow                     object
Measure Type             object
Value                     int32
Unit                     object
dtype: object

In [17]:
Final_table = pd.concat([Final_table, new_table])

In [18]:
tab = pd.read_excel(BytesIO(session.get(sourceUrl).content), header = None, sheet_name = 2)
tab.iloc[0][0] = 'Dummy'
tab.columns=tab.iloc[0]
tab.rename(columns={'Dummy': 'Period'}, inplace = True)
tab

,Period,AF Afghanistan,AL Albania,DZ Algeria,AS American Samoa,AD Andorra,AO Angola,AI Anguilla,AQ Antarctica,AG Antigua & Barbuda,...,VI US Virgin Islands,UZ Uzbekistan,VU Vanuatu,VA Vatican City,VE Venezuela,VN Vietnam,WF Wallis & Futuna,YE Yemen,ZM Zambia,ZW Zimbabwe
0,Dummy,AF Afghanistan,AL Albania,DZ Algeria,AS American Samoa,AD Andorra,AO Angola,AI Anguilla,AQ Antarctica,AG Antigua & Barbuda,...,VI US Virgin Islands,UZ Uzbekistan,VU Vanuatu,VA Vatican City,VE Venezuela,VN Vietnam,WF Wallis & Futuna,YE Yemen,ZM Zambia,ZW Zimbabwe
1,1998JAN,-,-,1,-,-,1,-,1,-,...,9,1,-,-,8,21,-,-,2,11
2,1998FEB,1,-,18,-,-,-,-,1,-,...,2,-,-,-,6,21,-,-,2,6
3,1998MAR,-,-,7,-,-,1,-,-,-,...,-,1,-,-,10,23,-,-,2,7
4,1998APR,-,-,3,-,-,-,-,-,-,...,-,-,-,-,9,24,-,-,1,7
5,1998MAY,-,-,1,-,-,-,-,-,-,...,-,-,-,-,7,20,-,1,3,11
6,1998JUN,-,-,8,-,-,-,-,-,-,...,-,1,-,-,21,19,-,-,2,10
7,1998JUL,-,-,7,-,-,2,-,-,-,...,1,1,-,-,9,18,-,-,2,20
8,1998AUG,-,-,5,-,-,1,-,-,-,...,-,-,-,-,12,19,-,-,2,10
9,1998SEP,-,-,6,-,-,1,-,-,-,...,-,1,-,-,6,22,-,1,2,9
10,1998OCT,-,-,6,-,-,1,-,-,-,...,-,-,-,-,10,20,-,-,2,7
11,1998NOV,-,-,11,-,-,1,-,-,-,...,-,2,-,-,6,19,-,-,2,8
12,1998DEC,-,-,9,-,-,-,-,-,-,...,-,-,-,-,6,17,-,-,2,10
13,1999JAN,-,-,11,-,-,-,-,-,-,...,-,-,-,-,7,20,-,-,3,7
14,1999FEB,-,-,11,-,-,-,-,-,-,...,-,-,-,-,6,26,-,-,1,7
15,1999MAR,-,-,2,-,-,-,-,-,-,...,-,-,-,-,11,22,-,-,2,13
16,1999APR,-,-,-,-,-,-,-,-,-,...,-,-,-,-,18,22,-,-,1,8
17,1999MAY,-,-,7,-,-,1,-,-,-,...,-,6,-,-,11,20,-,-,1,11
18,1999JUN,-,-,9,-,-,1,-,-,-,...,-,3,-,-,17,26,-,-,1,9
19,1999JUL,-,-,4,-,-,1,-,-,-,...,-,-,-,-,29,31,-,-,1,15
20,1999AUG,-,-,11,-,-,-,-,-,-,...,-,3,-,-,12,28,-,-,2,14
21,1999SEP,-,-,30,-,-,-,-,-,-,...,-,8,-,-,7,27,-,-,1,9
22,1999OCT,-,-,22,-,-,1,-,-,-,...,-,-,-,-,7,26,-,2,1,11
23,1999NOV,-,-,29,-,-,5,-,-,-,...,-,2,-,-,13,26,-,1,-,9
24,1999DEC,-,-,30,-,-,-,-,-,-,...,-,-,-,-,7,28,-,-,1,9
25,2000JAN,-,-,22,-,-,-,-,-,-,...,-,-,-,-,20,28,-,2,1,7
26,2000FEB,1,-,31,-,-,-,-,-,-,...,-,1,-,-,16,36,-,-,1,7
27,2000MAR,-,-,31,-,-,-,-,-,-,...,-,2,-,-,9,29,-,-,1,7
28,2000APR,1,-,44,-,-,-,-,-,-,...,-,-,-,-,11,29,-,-,1,5
29,2000MAY,1,-,34,-,-,-,-,-,-,...,-,4,-,-,16,31,-,-,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,2015JUN,-,-,188,-,-,88,-,-,-,...,2,-,-,-,21,267,-,-,1,4
211,2015JUL,-,-,162,-,-,99,-,-,-,...,-,-,-,-,23,279,-,-,2,2
212,2015AUG,-,-,108,-,-,73,-,-,-,...,-,-,-,-,37,268,-,-,-,1
213,2015SEP,-,-,124,-,-,35,-,-,-,...,-,-,-,-,29,280,-,-,3,1
214,2015OCT,-,-,81,-,-,70,-,-,-,...,-,-,-,-,-,274,-,-,-,3
215,2015NOV,-,-,86,-,-,1,-,-,-,...,-,-,-,-,13,296,-,-,3,1
216,2015DEC,-,-,103,-,-,30,-,-,-,...,-,-,6,-,15,277,-,-,2,-
217,2016JAN,-,-,50,-,-,20,-,-,-,...,-,-,2,-,-,291,-,-,2,1
218,2016FEB,-,-,39,-,-,4,-,-,-,...,-,-,-,-,-,329,-,-,3,-
219,2016MAR,-,-,59,-,-,1,-,-,7,...,-,-,-,-,12,313,-,-,4,-
220,2016APR,-,-,49,-,-,2,-,-,21,...,-,-,-,-,8,373,-,-,3,1
221,2016MAY,-,-,9,-,-,2,-,-,-,...,3,-,-,-,18,320,-,-,-,4
222,2016JUN,1,-,15,-,-,40,-,-,-,...,-,-,-,-,10,290,-,-,1,5
223,2016JUL,-,-,91,-,-,56,-,-,-,...,-,-,-,-,10,294,-,-,1,6
224,2016AUG,-,-,124,-,-,38,-,-,-,...,-,-,-,-,16,352,-,-,-,1
225,2016SEP,-,-,66,-,-,38,-,-,-,...,-,-,-,1,10,312,-,-,2,8
226,2016OCT,-,-,79,-,-,39,-,-,-,...,-,-,-,-,19,294,-,-,1,6
227,2016NOV,1,-,26,-,-,86,-,-,-,...,-,-,-,-,26,346,-,-,1,6
228,2016DEC,-,-,99,-,-,1,-,-,-,...,-,-,-,1,-,399,-,-,1,4
229,2017JAN,-,1,15,-,-,6,-,-,-,...,-,-,-,-,14,307,-,-,-,5
230,2017FEB,-,-,11,-,-,4,-,-,-,...,-,-,-,-,19,262,-,-,5,7
231,2017MAR,-,-,204,-,-,5,-,-,-,...,-,-,-,-,-,294,-,-,-,4
232,2017APR,-,-,192,-,-,47,-,-,-,...,-,-,-,-,16,347,-,-,2,3
233,2017MAY,-,1,130,-,-,-,-,-,1,...,-,-,-,-,3,377,-,-,2,7
234,2017JUN,-,-,203,-,-,4,-,-,-,...,-,-,-,-,7,370,-,-,5,7
235,2017JUL,-,-,76,-,-,1,-,-,-,...,-,-,-,-,4,353,-,-,1,2
236,2017AUG,-,1,81,-,-,5,-,-,-,...,-,1,-,-,9,366,-,-,1,9
237,2017SEP,-,-,85,-,-,2,-,-,-,...,-,-,-,-,19,408,-,-,1,12
238,2017OCT,-,-,154,-,-,9,-,-,-,...,-,-,-,-,6,433,-,-,-,1
239,2017NOV,-,-,229,-,-,2,-,-,3,...,-,-,-,-,3,420,-,-,-,14

In [19]:
observations1 = tab[1:].rename(columns={'ONS Partner Geography': 'Period'})
observations1.head()

,Period,AF Afghanistan,AL Albania,DZ Algeria,AS American Samoa,AD Andorra,AO Angola,AI Anguilla,AQ Antarctica,AG Antigua & Barbuda,...,VI US Virgin Islands,UZ Uzbekistan,VU Vanuatu,VA Vatican City,VE Venezuela,VN Vietnam,WF Wallis & Futuna,YE Yemen,ZM Zambia,ZW Zimbabwe
1,1998JAN,-,-,1,-,-,1,-,1,-,...,9,1,-,-,8,21,-,-,2,11
2,1998FEB,1,-,18,-,-,-,-,1,-,...,2,-,-,-,6,21,-,-,2,6
3,1998MAR,-,-,7,-,-,1,-,-,-,...,-,1,-,-,10,23,-,-,2,7
4,1998APR,-,-,3,-,-,-,-,-,-,...,-,-,-,-,9,24,-,-,1,7
5,1998MAY,-,-,1,-,-,-,-,-,-,...,-,-,-,-,7,20,-,1,3,11

In [20]:
new_table1 = pd.melt(observations1, id_vars= ['Period'], var_name='ONS Partner Geography', value_name='OBS')
new_table1.reset_index(drop=True, inplace=True)
print(len(new_table1))
new_table1.head()

55448

    Period ONS Partner Geography OBS
0  1998JAN        AF Afghanistan   -
1  1998FEB        AF Afghanistan   1
2  1998MAR        AF Afghanistan   -
3  1998APR        AF Afghanistan   -
4  1998MAY        AF Afghanistan   -

In [21]:
new_table1 = new_table1[new_table1['OBS'] != '-']

In [22]:
new_table1.count()

Period                   32630
ONS Partner Geography    32630
OBS                      32630
dtype: int64

In [23]:
new_table1['Period'].unique()

array(['1998FEB', '2000FEB', '2000APR', '2000MAY', '2000JUN', '2000AUG',
       '2000SEP', '2000NOV', '2000DEC', '2004JUL', '2004NOV', '2006JUN',
       '2010JUN', '2010SEP', '2012JAN', '2012APR', '2012MAY', '2016JUN',
       '2016NOV', '2002SEP', '2002DEC', '2003MAR', '2003APR', '2003OCT',
       '2013NOV', '2014SEP', '2014OCT', '2017JAN', '2017MAY', '2017AUG',
       '1998JAN', '1998MAR', '1998APR', '1998MAY', '1998JUN', '1998JUL',
       '1998AUG', '1998SEP', '1998OCT', '1998NOV', '1998DEC', '1999JAN',
       '1999FEB', '1999MAR', '1999MAY', '1999JUN', '1999JUL', '1999AUG',
       '1999SEP', '1999OCT', '1999NOV', '1999DEC', '2000JAN', '2000MAR',
       '2000JUL', '2000OCT', '2001JAN', '2001FEB', '2001MAR', '2001APR',
       '2001MAY', '2001JUN', '2001JUL', '2001SEP', '2001OCT', '2001NOV',
       '2001DEC', '2002JAN', '2002FEB', '2002MAR', '2002APR', '2002MAY',
       '2002JUN', '2002JUL', '2002AUG', '2002OCT', '2002NOV', '2003FEB',
       '2003MAY', '2003JUN', '2003JUL', '2003AUG', '2003SEP', '2003NOV',
       '2003DEC', '2004JAN', '2004FEB', '2004MAR', '2004APR', '2004MAY',
       '2004JUN', '2004AUG', '2004SEP', '2004OCT', '2004DEC', '2005JAN',
       '2005FEB', '2005MAR', '2005APR', '2005MAY', '2005JUN', '2005JUL',
       '2005AUG', '2005SEP', '2005OCT', '2005NOV', '2005DEC', '2006JAN',
       '2006FEB', '2006MAR', '2006APR', '2006MAY', '2006JUL', '2006AUG',
       '2006SEP', '2006OCT', '2006NOV', '2006DEC', '2007JAN', '2007FEB',
       '2007MAR', '2007APR', '2007MAY', '2007JUN', '2007JUL', '2007AUG',
       '2007SEP', '2007OCT', '2007NOV', '2007DEC', '2008JAN', '2008FEB',
       '2008MAR', '2008APR', '2008MAY', '2008JUN', '2008JUL', '2008AUG',
       '2008SEP', '2008OCT', '2008NOV', '2008DEC', '2009JAN', '2009FEB',
       '2009MAR', '2009APR', '2009MAY', '2009JUN', '2009JUL', '2009AUG',
       '2009SEP', '2009OCT', '2009NOV', '2009DEC', '2010JAN', '2010FEB',
       '2010MAR', '2010APR', '2010MAY', '2010JUL', '2010AUG', '2010OCT',
       '2010NOV', '2010DEC', '2011JAN', '2011FEB', '2011MAR', '2011APR',
       '2011MAY', '2011JUN', '2011JUL', '2011AUG', '2011SEP', '2011OCT',
       '2011NOV', '2011DEC', '2012FEB', '2012MAR', '2012JUN', '2012JUL',
       '2012AUG', '2012SEP', '2012OCT', '2012NOV', '2012DEC', '2013JAN',
       '2013FEB', '2013MAR', '2013APR', '2013MAY', '2013JUN', '2013JUL',
       '2013AUG', '2013SEP', '2013OCT', '2013DEC', '2014JAN', '2014FEB',
       '2014MAR', '2014APR', '2014MAY', '2014JUN', '2014JUL', '2014AUG',
       '2014NOV', '2014DEC', '2015JAN', '2015FEB', '2015MAR', '2015APR',
       '2015MAY', '2015JUN', '2015JUL', '2015AUG', '2015SEP', '2015OCT',
       '2015NOV', '2015DEC', '2016JAN', '2016FEB', '2016MAR', '2016APR',
       '2016MAY', '2016JUL', '2016AUG', '2016SEP', '2016OCT', '2016DEC',
       '2017FEB', '2017MAR', '2017APR', '2017JUN', '2017JUL', '2017SEP',
       '2017OCT', '2017NOV', '2001AUG', '2003JAN', '1999APR'], dtype=object)

In [24]:
new_table1['Period'] = 'month/' + new_table1['Period'].astype(str).str[0:4]+ '-' + new_table1['Period'].astype(str).str[-3:]
new_table1.head()

            Period ONS Partner Geography OBS
1   month/1998-FEB        AF Afghanistan   1
25  month/2000-FEB        AF Afghanistan   1
27  month/2000-APR        AF Afghanistan   1
28  month/2000-MAY        AF Afghanistan   1
29  month/2000-JUN        AF Afghanistan   1

In [25]:
new_table1['Unit'] = '£ Million'
new_table1['Measure Type'] = 'GBP Total'
new_table1['Flow'] = 'Imports'
new_table1.tail(5)

,Period,ONS Partner Geography,OBS,Unit,Measure Type,Flow
55443,month/2017-JUL,ZW Zimbabwe,2,£ Million,GBP Total,Imports
55444,month/2017-AUG,ZW Zimbabwe,9,£ Million,GBP Total,Imports
55445,month/2017-SEP,ZW Zimbabwe,12,£ Million,GBP Total,Imports
55446,month/2017-OCT,ZW Zimbabwe,1,£ Million,GBP Total,Imports
55447,month/2017-NOV,ZW Zimbabwe,14,£ Million,GBP Total,Imports

In [26]:
new_table1.rename(index= str, columns= {'OBS':'Value'}, inplace = True)

In [27]:
new_table1 = new_table1[['ONS Partner Geography','Period','Flow','Measure Type','Value','Unit']]

In [28]:
new_table1['Value'] = new_table1['Value'].astype(int)

In [29]:
new_table.dtypes

ONS Partner Geography    object
Period                   object
Flow                     object
Measure Type             object
Value                     int32
Unit                     object
dtype: object

In [30]:
Final_table = pd.concat([Final_table, new_table1])

In [31]:
Final_table.count()

ONS Partner Geography    72243
Period                   72243
Flow                     72243
Measure Type             72243
Value                    72243
Unit                     72243
dtype: int64

In [32]:
Final_table['ONS Partner Geography'].unique()

array(['AF Afghanistan', 'AL Albania', 'DZ Algeria', 'AS American Samoa',
       'AD Andorra', 'AO Angola', 'AI Anguilla', 'AQ Antarctica',
       'AG Antigua & Barbuda', 'AR Argentina', 'AM Armenia', 'AW Aruba',
       'AU Australia', 'AT Austria', 'AZ Azerbaijan', 'BS Bahamas',
       'BH Bahrain', 'BD Bangladesh', 'BB Barbados', 'BY Belarus',
       'BE Belgium', 'BZ Belize', 'BJ Benin', 'BM Bermuda', 'BT Bhutan',
       'BO Bolivia', 'BA Bosnia & Herzegovina', 'BW Botswana', 'BR Brazil',
       'VG British Virgin Islands', 'BN Brunei', 'BG Bulgaria',
       'BF Burkina Faso', 'MM Myanmar', 'BI Burundi', 'KH Cambodia',
       'CM Cameroon', 'CA Canada', 'CV Cape Verde', 'KY Cayman Islands',
       'CF Central African Republic', 'XC Ceuta', 'TD Chad', 'CL Chile',
       'CN China', 'CX Christmas Islands', 'CC Cocos Islands',
       'CO Colombia', 'CD Congo (Democratic Republic)',
       'CG Congo (Republic)', 'CK Cook Islands', 'CR Costa Rica',
       'CI Ivory Coast', 'HR Croatia', 'CU Cuba', 'CY Cyprus',
       'CZ Czech Republic', 'DK Denmark', 'DJ Djibouti', 'DM Dominica',
       'DO Dominican Republic', 'TL East Timor', 'EC Ecuador', 'EG Egypt',
       'SV El Salvador', 'GQ Equatorial Guinea', 'ER Eritrea',
       'EE Estonia', 'ET Ethiopia', 'FK Falkland Islands',
       'FO Faroe Islands', 'FJ Fiji', 'FI Finland', 'FR France',
       'PF French Polynesia', 'MK FYR Macedonia', 'GA Gabon', 'GM Gambia',
       'GE Georgia', 'DE Germany', 'GH Ghana', 'GI Gibraltar', 'GR Greece',
       'GL Greenland', 'GD Grenada', 'GU Guam', 'GT Guatemala',
       'GN Guinea', 'GW Guinea Bissau', 'GY Guyana', 'HT Haiti',
       'HM Heard & McDonald Islands', 'HN Honduras', 'HK Hong Kong',
       'HU Hungary', 'IS Iceland', 'IN India', 'ID Indonesia', 'IR Iran',
       'IQ Iraq', 'IE Irish Republic', 'IL Israel', 'IT Italy',
       'JM Jamaica', 'JP Japan', 'JO Jordan', 'KZ Kazakhstan', 'KE Kenya',
       'XK Kosovo', 'KW Kuwait', 'KG Kyrgyz Republic', 'LA Laos',
       'LV Latvia', 'LB Lebanon', 'LS Lesotho', 'LR Liberia', 'LY Libya',
       'LI Liechtenstein', 'LT Lithuania', 'LU Luxembourg', 'MO Macao',
       'MG Madagascar', 'MW Malawi', 'MY Malaysia', 'MV Maldives',
       'ML Mali', 'MT Malta', 'MH Marshall Islands', 'MR Mauritania',
       'MU Mauritius', 'MX Mexico', 'MD Moldova', 'MN Mongolia',
       'ME Montenegro', 'MS Montserrat', 'MA Morocco', 'MZ Mozambique',
       'NA Namibia', 'NR Nauru', 'NP Nepal', 'NL Netherlands',
       'NC New Caledonia', 'NZ New Zealand', 'NI Nicaragua', 'NE Niger',
       'NG Nigeria', 'NU Niue Island', 'KP North Korea',
       'MP Northern Mariana Islands', 'NO Norway',
       'PS Occupied Palestinian Territory', 'OM Oman', 'PK Pakistan',
       'PA Panama', 'PG Papua New Guinea', 'PY Paraguay', 'PE Peru',
       'PH Philippines', 'PN Pitcairn', 'PL Poland', 'PT Portugal',
       'PR Puerto Rico', 'QA Qatar', 'RO Romania', 'RU Russia',
       'RW Rwanda', 'WS Samoa', 'SM San Marino', 'ST Sao Tome & Principe',
       'SA Saudi Arabia', 'SN Senegal', 'XS Serbia', 'SC Seychelles',
       'SL Sierra Leone', 'SG Singapore', 'SK Slovakia', 'SI Slovenia',
       'SB Solomon Islands', 'SO Somalia', 'ZA South Africa',
       'KR South Korea', 'ES Spain', 'LK Sri Lanka', 'KN St Kitts & Nevis',
       'LC St Lucia', 'VC St Vincent', 'SH St. Helena',
       'PM St. Pierre & Miquelon', 'SD Sudan', 'SR Surinam',
       'SZ Swaziland', 'SE Sweden', 'CH Switzerland', 'SY Syria',
       'TW Taiwan', 'TJ Tajikistan', 'TZ Tanzania', 'TH Thailand',
       'TG Togo', 'TK Tokelau Islands', 'TO Tonga', 'TT Trinidad & Tobago',
       'TN Tunisia', 'TR Turkey', 'TM Turkmenistan', 'UG Uganda',
       'UA Ukraine', 'AE United Arab Emirates', 'US United States',
       'UY Uruguay', 'VI US Virgin Islands', 'UZ Uzbekistan', 'VU Vanuatu',
       'VA Vatican City', 'VE Venezuela', 'VN Vietnam', 'YE Yemen',
       'ZM Zambia', 'ZW Zimbabwe', 'KM Comoros'], dtype=object)

In [33]:
destinationFolder = Path('out')
destinationFolder.mkdir(exist_ok=True, parents=True)

Final_table.to_csv(destinationFolder / ('observations.csv'), index = False)